<%- include("../includes/header.ejs", {title: "Update " + menu[0].menu_name}); %>

<h1>Update <%= menu[0].menu_name%></h1>


<form action="/menu/update" method="post">
    <input type="hidden" id="menu_id" name="menu_id" value="<%= menu[0].menu_id %>">
    menu Name: <input id="menu_name" name="menu_name" type="text" size="50" maxlength="50" value="<%= menu[0].menu_name%>"/>
    <br />
    <br />
    Description: <input id="description" name="description" type="text" size="100" maxlength="250" value="<%= menu[0].description%>"/>
    <br />
    <br />
    Recipes </br>
    <select id="recipe_id" name="recipe_id" multiple="multiple">
        <% for(var i=0; recipeall.length > i; i++ ) {
            var selected = "";
            for (var j=0; menu.length > j; j++) {
                if (recipeall[i].recipe_id == menu[j].recipe_id) {
                    selected = "selected";
                }
            }

        %>
        <option value="<%= recipeall[i].recipe_id %>" <%= selected %> ><%= recipeall[i].recipe_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#recipe_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>