<%- include("../includes/header.ejs", {title:"Add New type"}); %>
<h1>Add New Recipe Type</h1>
<form action="/type/insert" method="post">
    Type Name: <input id="type_name" name="type_name" type="text" size="30" maxlength="50"  />
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>
