<%- include("../includes/header.ejs", {title:"Type - View All"}); %>

<h1>Recipe Types</h1>

<br />
<% if (locals.was_successful) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= locals.type_name + " was " + locals.what + "!" %>
    </div>
</div>
<%}%>
<br />
<b><a href="/type/add">Add New Type</a></b> <br />

<br />

<table border="1">
    <tr><th>Type Name</th> <th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].type_name %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/type/edit/?type_id=<%= result[i].type_id %>'">Edit</button>
            <form action="/type/delete/" style="display:inline;">
                <input type="hidden" name="type_id" id="type_id" value="<%= result[i].type_id %>" />
                <input type="hidden" name="type_name" id="type_name" value="<%= result[i].type_name %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<br />
<a href="/"><< back to My Recipe - Home </a>


<%- include("../includes/footer.ejs"); %>
