<%- include("../includes/header.ejs", {title: "Update " + recipe.recipe_name}); %>

<h1>Update <%= recipe.recipe_name%></h1>



<form action="/recipe/update" method="post">
    <input type="hidden" id="recipe_id" name="recipe_id" value="<%= recipe.recipe_id %>">
    Recipe Name: <input id="recipe_name" name="recipe_name" type="text" size="50" maxlength="50" value="<%= recipe.recipe_name%>"/>
    <br />
    <br />
    Crator Name: <input id="creator" name="creator" type="text" size="50" maxlength="50" value="<%= recipe.creator%>"/>
    <br />
    <br />
    Description/Comment: <input id="description" name="description" type="text" size="100" maxlength="250" value="<%= recipe.description%>"/>
    <br />
    <br />
    Instruction Link or Location: <input id="instruction" name="instruction" type="text" size="100" maxlength="250" value="<%= recipe.instruction%>"/>
    <br />
    <br />
    <% var preptime = recipe.prep_time.split(':'); %>
    Prepartion Time: <input id="prep_hour" name="prep_hour" type="number" min="0" max="100" value="<%= preptime[0]%>"/> hours
    <input id="prep_minute" name="prep_minute" type="number" min="0" max="59" value="<%= preptime[1]%>"/> minutes
    <br />
    <% var cooktime = recipe.cook_time.split(':'); %>
    Cooking Time : <input id="cook_hour" name="cook_hour" type="number" min="0" max="100" value="<%= cooktime[0]%>"/> hours
    <input id="cook_minute" name="cook_minute" type="number" min="0" max="59" value="<%= cooktime[1]%>"/> minutes
    <br />
    <% var inactivetime = recipe.inactive_time.split(':'); %>
    Inactive Time : <input id="inactive_hour" name="inactive_hour" type="number" min="0" max="100" value="<%= inactivetime[0]%>"/> hours
    <input id="inactive_minute" name="inactive_minute" type="number" min="0" max="59" value="<%= inactivetime[1]%>"/> minutes
    <br />
    <br />

    Type </br>
    <select id="type_id" name="type_id" multiple="multiple">
        <% for(var i=0; typeall.length > i; i++ ) {
            var selected = "";
            for (var j=0; type.length > j; j++) {
                if (typeall[i].type_id == type[j].type_id) {
                    selected = "selected";
                }
            }

        %>
        <option value="<%= typeall[i].type_id %>" <%= selected %> ><%= typeall[i].type_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    Major Ingredients:

    <br />
    <% var ingredient_1 = ""; var ingredient_2 = ""; var ingredient_3 = ""; var ingredient_4 = ""; var ingredient_5 = ""; %>
    <% var ingredient_6 = ""; var ingredient_7 = ""; %>
    <% if (ingredient.length > 0) { ingredient_1 = ingredient[0].ingredient_name; } %>
    <% if (ingredient.length > 1) { ingredient_2 = ingredient[1].ingredient_name; } %>
    <% if (ingredient.length > 2) { ingredient_3 = ingredient[2].ingredient_name; } %>
    <% if (ingredient.length > 3) { ingredient_4 = ingredient[3].ingredient_name; } %>
    <% if (ingredient.length > 4) { ingredient_5 = ingredient[4].ingredient_name; } %>
    <% if (ingredient.length > 5) { ingredient_6 = ingredient[5].ingredient_name; } %>
    <% if (ingredient.length > 6) { ingredient_7 = ingredient[6].ingredient_name; } %>

    Ingredient 1: <input id="ingredient1" name="ingredient1" type="text" size="50" maxlength="50" value="<%= ingredient_1%>" />
    <br />
    Ingredient 2: <input id="ingredient2" name="ingredient2" type="text" size="50" maxlength="50" value="<%= ingredient_2%>" />
    <br />
    Ingredient 3: <input id="ingredient3" name="ingredient3" type="text" size="50" maxlength="50" value="<%= ingredient_3%>" />
    <br />
    Ingredient 4: <input id="ingredient4" name="ingredient4" type="text" size="50" maxlength="50" value="<%= ingredient_4%>"/>
    <br />
    Ingredient 5: <input id="ingredient5" name="ingredient5" type="text" size="50" maxlength="50" value="<%= ingredient_5%>"/>
    <br />
    Ingredient 6: <input id="ingredient6" name="ingredient6" type="text" size="50" maxlength="50" value="<%= ingredient_6%>"/>
    <br />
    Ingredient 7: <input id="ingredient7" name="ingredient7" type="text" size="50" maxlength="50" value="<%= ingredient_7%>"/>
    <br />

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>
