<%- include("../includes/header.ejs", {title:"My Recipe - About"}); %>

<h1>About My Recipe</h1>

<p>
    The goal of this database is to store and retrieve favorite recipes that the user has
    tried before or planning to try in the future.
</p>
<p>
    Each recipe is stored based on its name, its main ingredients, its creator, the time to prepare and cook, and food type as well.
    Moreover, the instruction of the recipe will be stored either as a link or the name of the cookbook that you can locate the recipe.
    You can retrieve recipes based on one or more of the above information that you have stored.
    For example, you have a very limited time to prepare a meal, then the database can retrieve the recipes that can be done within your time limit.
</p>
<p>
    Only the major ingredients are required to store in the database in order to save time for the user to enter the data.
    In other words, we assume the users already have the usual seasonings like oil, salt, pepper, sugar and common spices in their pantries.
    Each major ingredient of the recipe is defined by its name with its formed, for exaample crushed tomato.
    The detail ingredient list of the recipe will be found from the instruction link or the cookbook that contains the recipe.
    The major idea of storing the major ingredients of each recipe in the database,
    so that the database will retrieve recipes based on a particular ingredient. For example,
    you have a lot of potatoes has to be used before they gone bad, then the database can retrieve the recipes
    that have potatoes as its main ingredient.
</p>
<p>
    The food type is used to classify the recipe into categories, like main, breakfast, snack, dessert.
    The food types will be defined by the user of the database.
    In other words, the type name can be added or changed depending on how the user like to classify their recipes.
    Also, each recipe can be belonged to more than one food types.
    For example: cookie belongs to both dessert and snack type.
    In my database, I have meat and vegetable in my food type list,
    so my database will be able to retrieve recipes that only has vegetables.
    The food types list is flexible and will be different from one user to another user.
</p>
<p>
    This database also allows the user to create menus from their selected recipes for a special occasion,
    so the user can reuse the menu to save time in choosing recipes for a special occasion.
</p>

<i>Max Halbert</i>

<br />
<br />
<a href="/images/recipe_er_image.png"> My Recipe ER Diagram</a>



<%- include("../includes/footer.ejs"); %>