<%- include("../includes/header.ejs", {title:"Add New Recipe"}); %>
<h1>Add New Recipe</h1>
<form action="/recipe/insert" method="post">
    Recipe Name: <input id="recipe_name" name="recipe_name" type="text" size="50" maxlength="50"/>
    <br />
    <br />
    Creator Name: <input id="creator" name="creator" type="text" size="50" maxlength="50"/>
    <br />
    <br />
    Description/Comment:
    <br />
    <input id="description" name="description" type="text" size="50" maxlength="250"/>
    <br />
    <br />
    Instruction Link or Location:
    <br />
    <input id="instruction" name="instruction" type="text" size="50" maxlength="50"/>
    <br />
    <br />
    Prepartion Time: <input id="prep_hour" name="prep_hour" type="number" min="0" max="100"/> hours
    <input id="prep_minute" name="prep_minute" type="number" min="0" max="59"/> minutes
    <br />
    Cooking Time : <input id="cook_hour" name="cook_hour" type="number" min="0" max="100"/> hours
    <input id="cook_minute" name="cook_minute" type="number" min="0" max="59"/> minutes
    <br />
    Inactive Time : <input id="inactive_hour" name="inactive_hour" type="number" min="0" max="100"/> hours
    <input id="inactive_minute" name="inactive_minute" type="number" min="0" max="59"/> minutes
    <br />
    <br />
    Type
    <br />
    <select id="type_id" name="type_id" multiple="multiple">
        <% for(var i=0; type.length > i; i++ ) { %>
        <option value="<%= type[i].type_id %>"><%= type[i].type_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    Major Ingredients:
    <br />
    Ingredient 1: <input id="ingredient1" name="ingredient1" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 2: <input id="ingredient2" name="ingredient2" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 3: <input id="ingredient3" name="ingredient3" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 4: <input id="ingredient4" name="ingredient4" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 5: <input id="ingredient5" name="ingredient5" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 6: <input id="ingredient6" name="ingredient6" type="text" size="50" maxlength="50"/>
    <br />
    Ingredient 7: <input id="ingredient7" name="ingredient7" type="text" size="50" maxlength="50"/>
    <br />

    <!-- Initialize the multiselect plugin: for drop down menu-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>